.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    padding: 1rem;
    background: linear-gradient(to bottom left, #bbcff5 40%, #f9fdff 100%);
    max-width: 200px;
    max-height: 200;
  }
  .cardsTitle {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    padding: 1rem;
    background: linear-gradient(to bottom left, #d1cfcf 40%, #f9fdff 100%);
    max-width: 200px;
    max-height: 150;
  }
  .button {
      margin: 5px;
  }
  .title {
      border: 1;
  }

