.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    margin-bottom: 10px;
    padding: 1rem;
    background: linear-gradient(to bottom left, #e7e9ec 40%, #f9fdff 100%);
    max-width: 300px;
    height: 80px;
  }

  .button {
      margin: 15px;
  }
  .title {
      border: 1;
  }

  table{
    width:100%;
  }
  td:nth-child(3) {
    display: block;
  }
  tr td {
      float: left;
      width: 49.5%;
  }

